<?xml version="1.0"?>
<launch>
  <group ns="$(env ROBOT)">
    <node pkg="roboteq_nxtgen_controller" name="nxtgen_left_driver_node"
      type="nxtgen_driver_node" output="screen">
      <param name="hardware_id" value="Left RoboteQ Controller" />
      <param name="port" value="/dev/robot/motor_controller" />
      <param name="ch1_joint_name" value="wheel_front_left_joint"/>
      <param name="ch2_joint_name" value="wheel_back_left_joint"/>
      <param name="use_encoders" value="true" />
      <param name="operating_mode" value="closed-loop speed" />
      <param name="encoder_ppr" value="420" />
      <param name="reset_encoder_count" value="true" />
      <param name="ch1_max_motor_rpm" value="72" />
      <param name="ch2_max_motor_rpm" value="72" />
      <param name="invert" value="false" />
      <remap from="joint_states" to="left_joint_states" />
    </node>
  </group>
</launch>
